* {
  margin:0 ;
  padding: 0;
  box-sizing:border-box;
}

a {
    text-decoration: none !important;
    transition: all 0.4s ease;
    font-weight: 800;
    
}



body {
  font-family: 'Unbounded', cursive !important;
  cursor: url('images/wave-sound.png'), auto;

}

h1,h2,h3,h4,h5,h6 {
  font-weight: 900 !important;

}

img{
  width: 100%;
}

/*--NAVBAR-*/
#nav-bar {
  position: sticky;
  top: 0;
  padding: 0;
  z-index: 10;
  background: white;

}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}

.navbar-brand img {
  height: 100px;
  padding-left: 20px;
}

.navbar-nav li {
  float: right;
  text-align: right ;
}

.navbar-nav li a {
  font-size: 30px;
  font-weight: 600;
  
}

/*--Layouts-*/
section{
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
}

.layover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(171, 163, 163, 0.7), rgba(15, 15, 17, 0.7));
  z-index: -1
}

.bg-cover{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.promo-title {
  font-size: 500%;
  color:#ffffff;
  left: 0 !important;
  right: 0 !important;
}


/*--Genre Section-*/
.btn1 {
  background: linear-gradient(rgb(171, 163, 163 ), rgb(15, 15, 17)); 
  color: rgb(255, 255, 255);
  padding: 100px;
  border-radius: 100px; 
}

.btn1:hover {
  background: #f30d0d; 
}

.genresection {
margin-bottom: 30px;
}

.genres-img{
  opacity: 0.3
}

.genres-img:hover{
  opacity:1;
}

/*--Video-*/

.video-btn{
  width: 100px;
  height: 100px;
  background: linear-gradient(rgb(171, 163, 163 ), rgb(15, 15, 17)); 
  display: inline-flex;
  justify-content: center;
  align-items:center;
  color: #fff;
  border-radius: 100px;

}

/*-WHY CHOOSE US--*/
#whyus{
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px
}

.whyus-title{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

.lifont{
  font-size: 25px;
  color: rgb(71, 68, 68)
}

/*--Slider for my social media-*/


.slider-holder {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slidezz {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0.1rem 3rem -0.75rem hsla(0 0% 0% 0.25);
  border-radius: 0.5rem;
}

.slidezz img {
  flex: 1 0 120%;
  scroll-snap-align: start;
  object-fit: scale-down;
}


/*--General Title-*/
.title{
  text-align:  center;
  margin: 30px auto 50px;
  position: relative;
  line-height: 60px;
 }
 
 .title::after{
  content:'';
  background: #3c499e;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)
 }

 /*--About US-*/

.aboutusheading{
  padding-bottom: 70px
}
.aboutcontent h3{
  font-size: 35px;
  margin-bottom: 10px;
  color: rgb(17, 16, 16)
}

.aboutcontent p{
  font-size: 20px;
  margin-bottom: 35px
}

.aboutcontent p{
  margin-top: 20px;
  color: rgb(6, 6, 6);
  padding-bottom: 35px
}

/*--Contact Form-*/
.form-area{
  padding-top: 7%;
}

.row.single-form{
  box-shadow: 0 2px 20px -5px rgba(12, 160, 113, 0.5)
}
.left{
  background: grey;
  padding: 250px 70px;
}

.left h2{
color: #fff;
font-weight: 700;
font-size: 35px;
}

.right{
  padding: 70px 60px;
}


.right button{
  background: blue;
  width: 100px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
  cursor: pointer;
  border: dashed;
  border-color: rgb(111, 107, 115);
}
.right button:hover{
  background: green
}




/*--BLOG-*/
#blog img{
width: 250px !important;
height: 250px !important;
}

